@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    background-image: url(./image/bg-repeat.jpg);
    background-size: contain;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 402px;
    width: 800px;
}
.principal .conteudo .titulo{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 11px;
    margin-right: 13px;
}
.principal .conteudo .texto{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}
.principal .conteudo{
    width: 300px;
    height: 111px;
    margin-right: 60px;
}
.principal .formulario{
    width: 340px;
    height: 378px;
    background-color: #FFFFFF;
}
.principal form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal section{
    position: relative;
}
.principal form input{
    width: 298px;
    height: 35px;
    padding-left: 10px;
    margin-top: 15px;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: solid 1px #000000;
    border-radius: 5px;
}
.principal .mensagem{
    width: 298px;
    height: 90px;
    padding-bottom: 60px;
}

.principal form .aviso{
    margin-right: 167px;
    margin-top: 5px;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.principal form .enviar{
    width: 298px;
    height: 41px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: #3CCC87;
    border: none;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}
.principal form .enviar{
    position: absolute;
    bottom: 15px;
}
.principal .enviar:hover{
    transition: 0.4 ease-in-out;
    box-shadow: 5px 5px 10px gray;
}
.campos .campo-obrigatorio{
    margin: 0px;
    padding: 0px;
    padding-right: 213px;
    font-size: 10px;
    color: red;
    font-family: "roboto", sans-serif;
    display: none;
}

.principal form input.campo-vazio{
  border: solid 1px #F52E2E;
  margin-top: 5px;
}


.campos .campo-preenchido{
    border: solid 1px #00C22B;
}